---
import {Picture} from "astro:assets";
import AddIcon from "../assets/icons/add.svg";

interface Props extends Omit<MenuItem, "category"> {
    id: string;
}
const {id, title, description, price, img} = Astro.props;
---

<div class="h-fit bg-white dark:bg-stone-800 rounded-2xl shadow-lg overflow-hidden transform hover:-translate-y-2 transition-transform duration-300">
    <Picture alt={title} class="w-full h-56 object-cover" src={img as ImageMetadata}/>
    <div class="p-6">
        <h3 class="text-2xl font-bold text-stone-900 dark:text-white mb-2">{title}</h3>
        <p class="text-text-light dark:text-text-dark mb-4">{description}</p>

        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-primary">{new Intl.NumberFormat('es-ES', {
                style: 'currency',
                currency: 'EUR',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            }).format(price)}</span>
            <button data-id={id} data-type="addItemButton"
                    class=" relative
                    items-center gap-1 text-center focus:ring-2 focus:outline-none focus:ring-primary
                    flex bg-secondary text-gray-900 font-bold py-2 px-5 rounded-full text-sm hover:bg-secondary-dark transition-colors hover:cursor-pointer">
                <AddIcon fill="currentColor"/> Añadir
                <span data-id={id} data-type="count-indicator" hidden class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-primary rounded-full -top-2 -end-2"/>
            </button>
        </div>
    </div>
</div>